* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Goldman", cursive;
  min-height: 200vh;
  position: relative;
  position: 0px;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  position: sticky;
  top: 0px;




}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  width: 5vw;
}

.eerstegang {
  background-image: url("./img/background.jpeg");

  background-size: 1700px;
  background-repeat: no-repeat;
}

.hogetext {
  color: aliceblue;
}

footer {
  background-color: #25b7d0;
  color: rgb(242, 242, 242);
  position: absolute;
  bottom: 0;
  max-height: 10px;
  text-align: center;
  width: 220vh;
}

.pluh {
  background-color: black;
  color: aliceblue;
}

img {
  float: right;

}

h1 {
  text-align: center;
  font-size: xx-large;
}

.links {
  float: left;
  width: 600px;
  padding-top: 100px;
}

img {
  width: 1000px;
}

.rightsec {
  left: 1000px;
  display: block;
  width: 300px;
  float: right;
  down: 100px;
  font-size: medium;
  padding-top: 150px;
}

.leftsec {
  right: 1000px;
  display: block;
  width: 300px;
  float: left;
  down: 100px;
  font-size: medium;
  padding-top: 150px;
  padding-left: 100px;
}

.rechts {
  width: 400px;
  float: right;
  padding-top: 200px;
  padding-right: 100px;
}